@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'JetBrains Mono', monospace;
  background-color: rgb(34, 35, 36);
  color: rgb(186, 186, 186);
  font-size: 2vh;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.row1 {
  display: flex;
  flex-flow: column;
  width: 100dvw;
  height: 50dvh;

  justify-content: center;
  align-items: center;
}

#time,
#date {
  font-weight: 700;
  padding: 0;
  margin: 0;
}

#time {
  color: rgb(119, 184, 105);
  font-size: 10vh;
}

#date {
  font-size: 5vh;
}

.row2 {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100dvw;
  height: 50dvh;
  justify-content: center;
}

.section {
  /* flex: 1; */

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

ul {
  list-style-type: none;
}

.header {
  color: rgb(61, 151, 226);
}

a {
  text-decoration: none;
  color: rgb(186, 186, 186);
}
